.card{
    height: 220px;
   width: 400px;
   border: 1px solid rgb(217, 212, 212);
   text-align: center;
   border-radius: 10px;
   padding: 10px;
   margin-top:20px;
   margin: 15px;


   
 }
 .card img{
background-color:rgb(233,214,251);
 width: 48px;
 height: 48px;
 padding: 10px;
 border-radius: 50%;
 margin: 10px;

 }

 .card h5{
    font-weight: bold;
    margin: 5px;
    padding: 5px;
 }
 .card p{
    width: 75%;
    color:rgb(114,114,123);
    font-weight: 14px;
    margin: 5px;
 }