/* Testimonials.css */

.marquee-container {
  overflow: hidden;
  width: 100%;
  background: white;
  padding: 20px 0;
  height: 500px;
}

.marquee-1 {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.marquee-2 {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
  will-change: transform;
}

.testimonial-card {
  min-width: 396px;
  height: 172px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.initials {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  border: 2px solid black;
}
.testimonial-img{
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.names{
  font-size: 18px;
  margin: 0px;
  font-weight: bold;
}

.role {
  color:#8c8b8b;
  font-size: 14px;
}

.feedback {
  font-size: 14px;
  width:"80%";
  color: #555;
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

.testimonial-card:hover{
  border:1px solid rgba(0,0,0,0.4);
  transform: scale(1.02);
  
}
.marquee-container:hover .marquee-1 {
  animation-play-state: paused;
}
.marquee-container:hover .marquee-2 {
  animation-play-state: paused;
}

.white-gradient{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0) 75%, rgba(255,255,255,1) 100%);
}
  