/* Login.css */
  .login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 60px auto;
    
  }
  .heading {
    font-weight: bold;
    font-size: 16pxx;
    background: linear-gradient(90deg, rgba(35,26,46,1) 0%, rgba(84,37,128,1) 50%, rgba(135,48,215,1) 100%);
    -webkit-background-clip: text; /* For Safari and Chrome */
    background-clip: text; /* Standard property */
    color: transparent; /* Makes the text itself transparent so the gradient shows */
  }
  
  .login-box {
    background: #fff;
    padding: 40px 60px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,0.2);
    text-align: center;
    width: 100%;
    
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
  }
  
  .tagline {
    font-size: 16px;
    color: #6c63ff;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
  }
  
  .input-icon {
    font-size: 20px;
    color: #6c63ff;
    margin-right: 10px;
  }
  
  .input-field {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
  }
  
  .input-field::placeholder {
    color: #aaa;
  }
  
  .login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #333;
  }
  
  .signup-text {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
  
  .signup-link {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }